@import './src/styles/reusable_styles.scss';

.wrapper {
  min-width: 1.75rem;
  min-height: 1.75rem;
  max-width: 1.75rem;
  max-height: 1.75rem;
  background: #ffffff;
  border: 2px solid lightgray;
  border-radius: 8px;
  position: relative;
  display: block;
  cursor: pointer;
  input {
    display: none;
  }

  &.checked {
    border-color: #1cbb5d;
    &:after {
      opacity: 1;
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    right: 2px;
    opacity: 0;
    background-image: url('../../../public/assets/checkmark.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
